@font-face {
    font-family: 'NanumSquareOTF';
    font-style: normal;
    src: url('../public/assets/fonts/NanumSquareR.otf') format('opentype');
}

@font-face {
    font-family: 'NanumSquareOTF';
    font-weight: bold;
    src: url('../public/assets/fonts/NanumSquareB.otf') format('opentype');
}

@font-face {
    font-family: 'NanumSquareOTF';
    font-weight: 800;
    font-style: normal;
    src: url('../public/assets/fonts/NanumSquareEB.otf') format('opentype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    src: url('../public/assets/fonts/NanumBarunGothic.otf') format('opentype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: bold;
    src: url('../public/assets/fonts/NanumBarunGothicBold.otf') format('opentype');
}


body {
    font-family: NanumSquareOTF, NanumBarunGothic, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'NanumSquare', 'NanumBarunGothic', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

